{{#if ordered}}
<ol class="doc-list doc-list--ordered">
  {{#each items}}
  <li class="doc-list-item">{{this}}</li>
  {{/each}}
</ol>
{{else}}
<ul class="doc-list">
  {{#each items}}
  <li class="doc-list-item">{{this}}</li>
  {{/each}}
</ul>
{{/if}}
